@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.menu li{
    transition: 1s;
}
.menu li.active{
    background-color: #777;
}

.menu li:hover{
    background-color: #777;
}

